.Banner-name{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Assets/Marble.jpg);
    /* background-position: center; */
    scroll-snap-align: start;
}

.bn-mn{
    height: 400px;
}

@media screen and (max-width:320px){
    .Banner-name{

    }

    .bn-mn{
        height: 300px;
    }
}