.direct{
    padding:10px 25px;
    background-color: #B27409;
    margin:20px;
    border-radius: 5px;
}

.direct  a{
    color: white;
    text-decoration: none;
}
@media screen  and (max-width:320px){
    .direct{
        padding:10px 25px;
        background-color: #B27409;
        margin:10px;
        border-radius: 5px;
    }
    
    .direct  a{
        color: white;
        text-decoration: none;
    }
}

/* @media screen and  {
    
} */