.headcard{
    border-radius: 1px solid black;
    font-size: 3rem;
    color: #B27409;
    text-align: center;
    margin: 20px ;
    /* text-align: center; */
}

.headcard p{
    color: #B27409;
    /* border: 1px solid black; */
}

.all-acc{
    display: flex;
    justify-content: center;
    padding: 30px 150px; 
    flex-wrap: wrap;

}
.bcvk {
    font-size: 1rem;
    width: 80%;
    padding: 0px 50px;
    margin: 30px 0px;
    /* border: 1px solid black; */
}
.bcvk a{
    color: #B27409;
    text-decoration: none;
}
.wdt{
    width: 100%;
}

.accs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.Thanks{
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.Thanks a{
    background-color: #B27409;
    padding: 10px 25px  ;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}

@media screen and (max-width:320px) {
    .headcard{
        font-size: 36px;
        margin: 0px;
    }

    .bcvk{
        /* width: 100px; */
        margin:0px;
        padding: 10px 20px;
    }

    .all-acc{
        flex-direction: column;
        padding: 10px;
    }
    .accs img{
        height: 200px;
    }
    .accs{
       font-size: 16px;
    }

    .Thanks {
        font-size: 16px;
        margin: 20px 0px;
    }
}

@media screen and (min-width:321px) and (max-width:425px){
    .headcard{
        font-size: 36px;
        margin: 0px;
    }

    .bcvk{
        /* width: 100px; */
        margin:0px;
        padding: 10px 20px;
    }

    .all-acc{
        flex-direction: column;
        padding: 10px;
    }
    .accs img{
        height: 200px;
    }
    .accs{
       font-size: 16px;
    }

    .Thanks {
        font-size: 16px;
        margin: 20px 0px;
    }
}

@media screen and (max-width:1024px) {
    .headcard{
        font-size: 36px;
        margin: 0px;
    }

    .bcvk{
        /* width: 100px; */
        margin:0px;
        padding: 10px 20px;
    }

    .all-acc{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .accs img{
        height: 200px;
    }
    .accs{
       font-size: 16px;
    }
    .details{
    }

    .Thanks {
        font-size: 16px;
        margin: 20px 0px;
    }
}

