.inv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.invlog img{
    width: 400px;
}

.inv-info{}
.pnam{
    display: flex;
    justify-content: center;
}
.pnam h1{
    margin:30px 10px;
    color: #B27409;
}

.dte{
    color: #B27409;
    margin: 30px 0pxc;
}
.centers{
    display: flex;
    margin: 50px 0px;
    width: 100%;
    justify-content: space-between;
}

.plc{
    margin:0px 50px;
}
/* action='https://formspree.io/f/meqdeerl' */