.locate{
    height: 100vh;
    scroll-snap-align: start;
    padding: 100px;
    background-image: url(../Assets/Marble.jpg);

}
.loc-title{
    text-align: center;
    font-size: 72px;
    color: #B27409;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.loc-title img{
    height: 20px;
    margin-bottom: 15px;
}

.loc-descrip{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;


}

.place{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.place img{
    height: 150px;
}

.place p{
    line-height: 2.1rem;
    text-align: center;
}

@media screen and (max-width:320px) {
    .locate{
        padding:100px 10px;
    }
    .loc-title{
        font-size: 24px;
        display: flex;
        align-items: baseline;
    }

    .loc-title img{
        height: 5px;
    }
    
    .loc-descrip{
        flex-direction: column;
        margin: 20px ;
    }
    .place{
        font-size: 14px;
    }
    .place img{
        height: 50px;

    }
}

