.locate{
    height: 100vh;
    scroll-snap-align: start;
    padding: 100px;
    background-image: url(../Assets/Marble.jpg);

}
.loc-title{
    text-align: center;
    font-size: 72px;
    color: #B27409;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.loc-descrip{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;


}

.place{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.place img{
    height: 150px;
}

.place p{
    line-height: 2.1rem;
    text-align: center;
}

@media screen and (width:320px) {
    .locate{
        padding:100px 10px;
    }
    .loc-title{
        font-size: 18px;
        display: flex;
        align-items: baseline;
    }

    .loc-title img{
        height: 5px;
    }
    
    .loc-descrip{
        flex-direction: column;
        justify-content: center;
        margin: 10px ;
    }
    .place{
        font-size: 14px;
        margin: 30px 0px;
    }
    .place img{
        height: 50px;

    }
    .place p{
        line-height: 1.5rem;
    }
}

@media screen and (min-width:324px) and (max-width:425px) {
    .locate{
        padding:50px 10px;
    }
    .loc-title{
        font-size: 24px;
        display: flex;
        align-items: baseline;
    }

    .loc-title img{
        height: 5px;
    }
    
    .loc-descrip{
        flex-direction: column;
        margin: 10px ;
    }
    .place{
        font-size: 14px;
    }
    .place img{
        height: 50px;

    }
}
@media screen and (min-width:426px) and (max-width:767px){
    .locate{
        padding:50px 10px;
    }
    .loc-title{
        font-size: 24px;
        display: flex;
        align-items: baseline;
    }

    .loc-title img{
        height: 5px;
    }
    
    .loc-descrip{
        margin:0px 20px ;
        flex-direction: column;
    }
    .place{
        font-size: 14px;
    }
    .place img{
        height: 50px;

    }
}

@media screen and (width:768px){
    .locate{
        padding:70px 10px;
    }
    .loc-title{
        font-size: 36px;
        display: flex;
        align-items: baseline;
    }

    .loc-title img{
        height: 5px;
    }
    
    .loc-descrip{
        margin: 20px ;
    }
    .place{
        font-size: 14px;
    }
    .place img{
        height: 50px;

    }
}

