.Regi{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

}

.tle{
    font-size: 60px;
    font-family: 'Arima Madurai', cursive;
    color: #B27409;

}

.Regi img{
    height: 200px;
    margin:30px 0px;
}

.regitext{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.gift{
    margin: 50px;
    background-color: #B27409;
    border-radius: 5px;
    padding:10px  40px;

}

.gift a{
    color: white;
    text-decoration: none;
    font-size: 24px;
   
}

@media screen and (max-width:320px) {
    .Regi{
        padding: 100px 20px;
    }
    .tle{
        font-size: 36px;
    }

    .Regi img{
        height: 100px;
    }

    .regitext{
        font-size: 18px;
    }
}

@media screen and  (min-width:321px) and (max-width:425px) {
    .Regi{
        padding: 100px 20px;
    }
    .tle{
        font-size: 36px;
    }

    .Regi img{
        height: 100px;
    }

    .regitext{
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    .Regi{
        padding: 100px 20px;
    }
    .tle{
        font-size: 36px;
    }

    .Regi img{
        height: 100px;
    }

    .regitext{
        font-size: 18px;
    }
}