.rsvp-cont{
    height: 100vh;
    scroll-snap-align: start;
    padding: 80px;
    background-image: url(../Assets/Marble.jpg);
}

.beck a{
    color: #B27409;
    text-decoration: none;
}


.rsvp-title{
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    color: #B27409;
}

.rsvp-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    margin: 30px 0px;
    width: 100%;
}
.rsvp-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
     


.form-sect{
    display: flex;
    align-items: center;
    border: 1px solid #B27409;
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    font-size:18px;
    color: #312E2D;
}

input[type="text"]{
    outline: none;
    border: none;
    font-size: 18px;
    padding: 5px 0px;
    width: 400px;
    color: #B27409;
    fill: none;
}

.show-drop{
    display: flex;
    align-items: center;
    font-size:1.5rem;
    padding: 5px ;
}

.cals{
    background-color: #B27409;
    color: white;
    font-size:1rem;
    margin: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.subbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    text-align: center;
}

.reg-btn{
    padding:15px 100px;
    font-size:2rem;
    background-color: #B27409;
    border: none;
    color: #ffffff;
    font-family: 'Arima Madurai';
    font-weight: 400px;
    border-radius: 15px;
}

.showfrm{
    display: block;
}

.hidefrm{
    display: none;
}

@media screen and (max-width:320px){
    .rsvp-cont{
        padding: 50px 0px;
    }
    .rsvp-title{
        text-align: center;
        font-size: 36px;
    }
    .rsvp-form{
        margin: 20px 0px;
        padding:10px 20px;
        align-items: center;
        justify-content: center;
    }

    .form-sect{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        width: 300px;
        /* margin: 10px 30px; */

    }
    
    input[type="text"]{
        outline: none;
        border: none;
        font-size: 18px;
        padding: 5px 0px;
        width: 150px;
        color: #B27409;
        fill: none;
    }
    .show-drop{
        display: flex;
        align-items: center;
        font-size:1rem;
        padding: 5px ;
    }

    .subbtn{
        margin: 20px;
    }
    
    
    
}

@media screen and  (min-width:321px) and (max-width:425px)  {
    .rsvp-cont{
        padding: 30px 0px;
    }
    .rsvp-title{
        text-align: center;
        font-size: 36px;
    }
    .rsvp-form{
        margin: 20px 0px;
        padding:10px 20px;
        align-items: center;
        justify-content: center;
    }

    .form-sect{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        width: 300px;
        /* margin: 10px 30px; */

    }
    
    input[type="text"]{
        outline: none;
        border: none;
        font-size: 18px;
        padding: 5px 0px;
        width: 150px;
        color: #B27409;
        fill: none;
    }
    .show-drop{
        display: flex;
        align-items: center;
        font-size:1rem;
        padding: 5px ;
    }

    .subbtn{
        margin: 20px;
    }
}
